@import '@economist/component-gridcss';

.NotFoundHandler {
  width: 100%;
  max-width: 1220px;
  margin: 100px auto 0;
}
.NotFoundHandler section {
  margin: 0 24.3%;
  width: 49.5%;
}
.NotFoundHandler p {
  text-align: center;
  font-size: 26px;
  line-height: 30px;
}
.NotFoundHandler svg text{
  font-size: 95px;
  font-family: Georgia;
}
.NotFoundHandler path {
  opacity: .6;
}
.NotFoundHandler path:first-child {
  opacity: 1;
}
.NotFoundHandler path:last-child {
  opacity: .9;
}

@media screen and (max-width: 990px) {
  .NotFoundHandler section {
    margin: 0 15.9%;
    width: 66.3%;
  }
}
@media screen and (max-width: 790px) {
  .NotFoundHandler section {
    margin: 0 7.5%;
    width: 83.1%;
  }
  .NotFoundHandler p {
    font-size: 20px;
    line-height: 26px;
  }
}
@media screen and (max-width: 590px) {
  .NotFoundHandler section {
    margin: 0 7.5%;
    width: 83.1%;
  }
  .NotFoundHandler p {
    font-size: 18px;
    line-height: 22px;
  }
}
